@import url('../../assets/styles/variables.scss');

* {
  box-sizing: border-box;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: url("../../assets/img/png/background_repeat.png") repeat-y left 1200px;
  background-size: 100%;
}

svg {
  fill: var(--font-input-placeholder);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app_container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 70px 20px;
}