@import url('../../assets/styles/variables.scss');

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  background: url("../../assets/img/png/background_first.png") no-repeat left top,
                    url("../../assets/img/png/background_repeat.png") repeat-y left 1200px;
  background-size: 100% auto, 100% auto;
}

svg {
  fill: var(--font-input-placeholder);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app_container {
  padding: 20px 70px;
}