:root{
    --font-dark: #383838;
    --font-input-placeholder: #9B9B9B;
    --font-purple: #5555AC;
    --font-white: #fff;
    --bg-purple: #5555AC;
    --bg-purple-light: #7777bd;
    --bg-purple-transparent: #C3C3E8;
    --lot-bg: #ECECFA;
    --bg-white: #fff;
    --warm-secondary: #F06F6B;
}